<!-- -->
<launch>
  <!-- CARLA connection -->
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name='timeout' default='10'/>

  <!-- Ego vehicle -->
  <arg name='role_name' default='ego_vehicle'/>
  <arg name="vehicle_filter" default='vehicle.*'/>

  <!-- Planner and Controller -->
  <arg name='route_range' default='180.0' />
  <arg name="lookahead_distance" default="10.0" />
  <!-- "PurePursuit", "Stanley", "MPC" -->
  <arg name="control_method" default="MPC" />

  <param name="/carla/host" value="$(arg host)" />
  <param name="/carla/port" value="$(arg port)" />

  <!--Scenario: Turning Junction 6 (left turn)-->
  <rosparam command="load"
      file="$(find casper_auto_agent)/scenarios/turning_junction_6.yaml"
      ns="scenario"/>
  <arg name="town" default='Town01'/>
  <arg name="spawn_point" default="105,-129.5,1.0,0,0,180"/>
  <arg name="target_point" default="88.2,-180,0"/>
  <arg name="goal_point" default="88.2,-180,0"/>
  <arg name="ghost_car" default="false"/>
  <arg name="ghost_point" default=""/>

  <include file="$(find casper_auto_agent)/launch/carla_ros_bridge_scenario.launch">
    <arg name='host' value="$(arg host)" />
    <arg name='port' value="$(arg port)" />
    <arg name="town" value="$(arg town)" />
    <arg name="role_name" value='$(arg role_name)'/>
    <arg name="spawn_point" value="$(arg spawn_point)"/>
  </include>

  <include file="$(find carla_route_planner)/launch/carla_route_planner.launch">
    <arg name='role_name' value='$(arg role_name)'/>
    <arg name="spawn_point" value="$(arg spawn_point)"/>
    <arg name='route_range' value='$(arg route_range)' />
    <arg name='target_point' value='$(arg target_point)' />
  </include>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find casper_auto_agent)/rviz/demo.rviz"/>

</launch>
