<!-- -->
<launch>

  <arg name="lookahead_distance" default="20.0" />

  <node pkg="replay_path_planner" type="replay_path_planner" name="replay_path_planner" output="log">
    <param name="lookahead_distance" type="double" value="$(arg lookahead_distance)" />
    <remap from="/current_pose" to="/casper_auto/current_pose" />
    <remap from="/current_speed" to="/casper_auto/current_speed" />
    <remap from="/global_route" to="/casper_auto/global_route" />
    <remap from="/cruise_speed" to="/casper_auto/cruise_speed" />
    <remap from="/final_path" to="/casper_auto/final_path" />
    <!-- <remap from="/final_waypoints" to="/casper_auto/final_waypoints" /> -->
    <remap from="/final_path_marker" to="/casper_auto/final_path_marker" />
  </node>

</launch>
