<launch>

  <arg name="namespace" default="detection"/>
  <arg name="packagename" default="shape_estimation"/>
  <arg name="input" default="/casper_auto/$(arg namespace)/lidar_detector/objects"/>
  <arg name="output" default="/casper_auto/$(arg namespace)/$(arg packagename)/objects"/>
  <arg name="enable_visualizer" default="true"/>

  <node pkg="lidar_shape_estimation" type="lidar_shape_estimation" name="lidar_shape_estimation" output="screen">
    <remap from="input"         to="$(arg input)" />
    <remap from="objects"       to="$(arg output)" />
  </node>

  <group if="$(arg enable_visualizer)">
    <node pkg="detected_objects_visualizer" type="visualize_detected_objects" name="shape_estimation_visualization"
          output="screen" ns="/casper_auto/$(arg namespace)/$(arg packagename)"/>
  </group>

</launch>
