<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro $(find vehicle_description)/urdf/f150_14_structure.urdf.xacro" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="20.0" />
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

</launch>
