#Dir
build/
devel/
test/
.vscode/
.idea/

#file
*.csv
*.sav
*.mp4
*.jpg
*.pyc
*.model
*.dll
*.suo
*.db
*.tlog
*.obj
*.log
*.idb
*.pch
*.pdb
*.mat
*.ilk
*.exe
*.filters
*.ipch
*.user
*.bag
*.xodr

# CMake
cmake-build-*/
/include/left/
/include/right/
