<!-- -->
<launch>
  <arg name="publish_object_cube" default="true" />
  <arg name="publish_object_info" default="true" />

  <node pkg="message_translator" type="detected_object_publisher.py" name="detected_object_publisher" output="screen" >
    <param name="publish_object_cube" type="bool" value="$(arg publish_object_cube)" />
    <param name="publish_object_info" type="bool" value="$(arg publish_object_info)" />
  </node>
</launch>
